 


    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Comment Page</title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
    
           
        
      
            
    
        <%- include('./userComment.ejs') -%>
















    
    
    
          
        
        <% message.forEach(function (user) { %>
            <div id="border">
            
                <div id="commentBorder">
                         <h2 id="userName"> <b>Name:</b> <%= user.Name %></h2>
                    <a href="/fullMessage/<%= user._id %>">  <h4  id="name">  <b>Message:</b> <%= user.Message %> </h4></a>
    
                      
    
                    
                    <b id="time"> <%= user.updated_at %></b>
    
    
    
                        
    
                    
                 
                    </div>
                 <a href="/fullMessage/<%= user._id %>">see more...</a>
    </div>
        <% }) %> 
    
    
      
       
    
    </body>
    
    
    </html>
    
        


