<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <title>fullarticle</title>
    
</head>
<body>

    <%- include('./partials/nav.ejs') -%>
   
        <div id="border">
        
            <div id="commentBorder">
                     <h2 id="userName"><%= message.Name %></h2>
                  <h4  id="name">  <%= message.Message %> </h4>
             </div>
            
        </div>

        <form action="/deleteUser/<%=message._id%>" method="post">

            <button>delete Post</button>

        </form>
    
  <a href="/editMessage/<%=message._id %>" > Edit Message</a>
  

</body>
</html>